# IRCBot configuration file
#
#   Copyright 2005 Sean A Corfield http://corfield.org/
#
#   Licensed under the Apache License, Version 2.0 (the "License");
#   you may not use this file except in compliance with the License.
#   You may obtain a copy of the License at
#
#       http://www.apache.org/licenses/LICENSE-2.0
#
#   Unless required by applicable law or agreed to in writing, software
#   distributed under the License is distributed on an "AS IS" BASIS,
#   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#   See the License for the specific language governing permissions and
#   limitations under the License.
#
#	Changelog:
#		1.1.0	2005-11-23	Added debug flag and method handlers
#		1.0.0	2005-11-22	Initial version
#
# nick - the nickname the bot should use on channel
#
# ident - generally should be yes so that the ircbot responds to ident
#	requests from the server
#
# user - the user name used to ident the bot (generally the same as the
#	nick) - this is used for the ident request above
#
# server - the IRC server to connect to
#
# channel - the channel name to join at startup (without the leading #)
#
# debug - optional (default: yes) whether the event gateway should log
#	requests to the eventgateway.log file
#
# onXxx - optional specifications of event handling methods - by default
#	they all default to the value of the onMessage handler, which in turn
#	defaults to onIncomingMessage (mostly for backward compatibility)
#
nick=cfmx7bot
ident=yes
user=cfxm7bot
server=irc.macromedia.com
channel=web
debug=no
#onAction=somemethod
#onJoin=somemethod
#onKick=somemethod
#onMessage=onIncomingMessage
#onNickChange=somemethod
#onNotice=somemethod
#onPart=somemethod
#onPrivateMessage=somemethod
#onQuit=somemethod
#onTopic=somemethod
